// COLOR SYSTEM

$asu-maroon: #8c1d40;
$asu-gold: #ffc627;
$asu-success: #78be20;
$asu-info: #00a3e0;
$asu-warning: #ff7f32;
$asu-danger: #cc2f2f;
$asu-light-1: #fafafa;
$asu-light-2: #f1f1f1;
$asu-light-3: #e8e8e8;
$asu-light-4: #d0d0d0; 
$asu-light-5: #bfbfbf;
$asu-dark-1: #747474; 
$asu-dark-2: #484848; 
$asu-dark-3: #191919; 

$ug-gold-100:#FFF1C9;
$ug-success-100:#498500;

$form-control-error-border-color: rgba($asu-danger, 0.5);
$form-control-border-color: rgba($asu-info, 0.5);